language: java

env: 
  - LD_LIBRARY_PATH=/usr/lib/neko

matrix:
  allow_failures:
    - env: "TARGET=neko"

before_install:
  - sudo apt-get install libgc1c2
  # Install neko 2.0
  - curl http://nekovm.org/_media/neko-2.0.0-linux64.tar.gz | tar xzf -
  - sudo mv neko-2.0.0-linux /usr/lib/neko
  - sudo cp /usr/lib/neko/neko /usr/bin/neko
  - sudo cp /usr/lib/neko/nekoc /usr/bin/nekoc
  - sudo cp /usr/lib/neko/nekotools /usr/bin/nekotools
  # Install haxe 3.1 (thanks to openfl install script)
  - curl http://haxe.org/website-content/downloads/3,1,3/downloads/haxe-3.1.3-linux64.tar.gz | tar xzf -
  - sudo mv haxe-3.1.3 /usr/lib/haxe
  - sudo ln -s /usr/lib/haxe/haxe /usr/bin/haxe
  - sudo ln -s /usr/lib/haxe/haxelib /usr/bin/haxelib
  # Setup haxelib
  - mkdir -p ~/haxelib
  - haxelib setup ~/haxelib
  - haxelib -notimeout install swf
  - haxelib -notimeout install lime
  - haxelib -notimeout install openfl
  - haxelib -notimeout git snow https://github.com/underscorediscovery/snow.git
  - haxelib -notimeout git oimohx https://github.com/babylonhx/OimoHx.git
  - haxelib -notimeout git msgpack https://github.com/aaulia/msgpack-haxe.git
  - haxelib -notimeout git babylonhx https://github.com/babylonhx/BabylonHx_2.0.git
  - sudo ln -s /usr/lib/haxe/lib/oimohx/ /usr/lib/haxe/lib/babylonhx/oimohx
script:
  - cd ./ci
  - haxe compile.hxml